services:
  php_translation.edit_in_place.response_listener:
    class: Translation\Bundle\EditInPlace\ResponseListener
    tags:
      - { name: 'kernel.event_listener', event: 'kernel.response', method: 'onKernelResponse' }
    arguments:
      - '@php_translation.edit_in_place.activator'
      - '@router'
      - '@assets.packages'
      - ~

  php_translation.edit_in_place.activator:
    class: Translation\Bundle\EditInPlace\Activator
    arguments: ['@session']

  php_translator.edit_in_place.xtrans_html_translator:
    class: Translation\Bundle\EditInPlace\Translator
    arguments:
      - '@translator'
      - '@php_translation.edit_in_place.activator'
      - '@request_stack'

  php_translation.edit_in_place.extension.trans:
    public: false
    class: Translation\Bundle\EditInPlace\Twig\TranslationExtension
    arguments:
      - '@php_translator.edit_in_place.xtrans_html_translator'
    tags:
      - { name: 'twig.extension' }

