services:
  Translation\Extractor\FileExtractor\PHPFileExtractor:
    tags:
      - { name: 'php_translation.extractor', type: 'php' }

  Translation\Extractor\FileExtractor\TwigFileExtractor:
    arguments: ["@twig"]
    tags:
      - { name: 'php_translation.extractor', type: 'twig' }

  # PHP Visitors:
  Translation\Extractor\Visitor\Php\Symfony\ContainerAwareTrans:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\ContainerAwareTransChoice:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FlashMessage:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeChoices:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeEmptyValue:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeHelp:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeInvalidMessage:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeLabelExplicit:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeLabelImplicit:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypePlaceholder:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\FormTypeTitle:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\Symfony\ValidationAnnotation:
    arguments: ['@validator']
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  Translation\Extractor\Visitor\Php\SourceLocationContainerVisitor:
    tags:
      - { name: 'php_translation.visitor', type: 'php' }

  # Twig Visitors:
  Translation\Extractor\Visitor\Twig\TwigVisitor:
    tags:
        - { name: 'php_translation.visitor', type: 'twig' }

  # To remove in next major release
  php_translation.extractor.php:
    parent: Translation\Extractor\FileExtractor\PHPFileExtractor
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.twig:
    parent: Translation\Extractor\FileExtractor\TwigFileExtractor
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.ContainerAwareTrans:
    parent: Translation\Extractor\Visitor\Php\Symfony\ContainerAwareTrans
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.ContainerAwareTransChoice:
    parent: Translation\Extractor\Visitor\Php\Symfony\ContainerAwareTransChoice
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FlashMessage:
    parent: Translation\Extractor\Visitor\Php\Symfony\FlashMessage
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeChoices:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeChoices
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeEmptyValue:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeEmptyValue
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeHelp:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeHelp
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeInvalidMessage:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeInvalidMessage
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeLabelExplicit:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeLabelExplicit
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypeLabelImplicit:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypeLabelImplicit
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.FormTypePlaceholder:
    parent: Translation\Extractor\Visitor\Php\Symfony\FormTypePlaceholder
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.ValidationAnnotation:
    parent: Translation\Extractor\Visitor\Php\Symfony\ValidationAnnotation
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.php.visitor.SourceLocationContainerVisitor:
    parent: Translation\Extractor\Visitor\Php\SourceLocationContainerVisitor
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
  php_translation.extractor.twig.factory.twig:
    parent: Translation\Extractor\Visitor\Twig\TwigVisitor
    deprecated: 'The "%service_id%" service is deprecated. You should stop using it, as it will be removed in the future.'
