.editorconfig      export-ignore
.gitattributes     export-ignore
.github            export-ignore
.gitignore         export-ignore
.php_cs            export-ignore
phpstan.neon.dist      export-ignore
phpstan-baseline.neon  export-ignore
psalm.baseline.xml     export-ignore
psalm.xml              export-ignore
Tests              export-ignore
