includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    inferPrivatePropertyTypeFromConstructor: true
    paths:
      - Catalogue
      - Command
      - Controller
      - DependencyInjection
      - EditInPlace
      - EventListener
      - Exception
      - Model
      - Resources
      - Service
      - Translator
      - Twig
