<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
      <directory>Tests</directory>
    </exclude>
  </coverage>
  <php>
    <env name="ENV" value="test"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=83&amp;verbose=1"/>
    <env name="KERNEL_CLASS" value="Nyholm\BundleTest\TestKernel"/>
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
