<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
</head>
<body>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
</body>
</html>
