<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
</head>
<body>

<div class="nav">
    {% for c in configNames %}
        <a href="{{ path('translation_index', {configName: c}) }}">
            {{ c }}
        </a>
    {% endfor %}
</div>
{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
</body>
</html>
