/* Navigation */
.navbar {
    padding: 0 2rem;
}
.navbar-nav .nav-text{
    font-weight: bold;
    padding-top: 0.2rem;
    padding-bottom: 0;
    display: inline-block;
    width: 6rem;
}

.navbar-nav .nav-link {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


/* Index page */
.total-progressbar {
    width: 100%;
}

.domain-table .progressbar-cell {
    width: 15rem;
    padding: 0 1rem;
}

.domain-table .progressbar-cell .progress{
    margin: 0;
}

.domain-table tr td{
    vertical-align: top;
}

/* Show page */
.message-textarea {
    width: 100%;
    height: 3rem;
}

.message-table td {
    vertical-align: top;
    padding: 0.1rem 0.5rem 1rem;
}

.key-column {
    max-width:30rem;
    width:33%;
}

.message-column {
    min-width:15rem;
    width:33%;
}

.additional-column {

}

pre a {
    text-decoration: none;
    word-break: break-all;
}


/* Ajax results */
.ajax-result {
    border-radius: 5px;
    padding: 5px;
    margin-top: 0.5rem;
}


.ajax-result.success {
    background-color: #449944;
    border: 1px solid #cecece;
    color: #ffffff;
}

.ajax-result.error {
    background-color: #bb4444;
    border: 1px solid #cecece;
    color: #ffffff;
}
