/* Navigation */
.navbar {
    padding: 0 2rem;
}
.navbar-nav .nav-text{
    font-weight: bold;
    padding-top: 0.2rem;
    padding-bottom: 0;
    display: inline-block;
    width: 6rem;
}

.navbar-nav .nav-link {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


/* Index page */
.catalogue-list {
    margin-top:2rem;
}

.total-progressbar {
    width: 100%;
}

.domain-table .progressbar-cell {
    width: 15rem;
    padding: 0 1rem;
}

.domain-table .progressbar-cell .progress{
    margin: 0;
}

.domain-table tr td{
    vertical-align: top;
}

/* Show page */
.message-list {
    margin-top:2rem;
}

.message {
    border-top: 1px solid #cecece;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
.message-textarea {
    width: 100%;
    height: 3rem;
}

.message-key {
    font-family: "serif";
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 110%
}
.message-delete {
    float: right;
}

pre a {
    text-decoration: none;
    word-break: break-all;
}

.location-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Ajax results */
.ajax-result {
    border-radius: 5px;
    padding: 5px;
    margin-top: 0.5rem;
}


.ajax-result.success {
    background-color: #449944;
    border: 1px solid #cecece;
    color: #ffffff;
}

.ajax-result.error {
    background-color: #bb4444;
    border: 1px solid #cecece;
    color: #ffffff;
}
